{% include 'snippets/header.html' %}
<div style="padding-top: 100px;" class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">You must be a part of GENÇ BİLİŞİMCİLER Community to view this page. </p>
		<p class="m-auto" style="text-decoration: none;">
			<a style="text-decoration: none;" href="{% url 'register' %}">Create an account</a> or 
			<a style="text-decoration: none;" href="{% url 'login' %}">login</a>.

		</p>
		<hr>
		<p style="text-decoration: none; text-align: center; padding-top: 200px;" >need help ? you can contact us at <a style="text-decoration: none;" href="mailto:[email protected]">[email protected]</a> or <a  style="text-decoration: none;" href="mailto:[email protected]">[email protected]</p>

	</div>
</div>




