{% load static %}
{% include 'snippets/header.html' %}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <script src="https://kit.fontawesome.com/15a7fd7ced.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
   <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Signika:wght@300;400&family=Yantramanav:wght@100&display=swap" rel="stylesheet">
   <link rel="icon" href="{% static 'img/logoc.ico' %}" type="image/x-icon" >
</head>

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<style>
    .feature-icon-large {
        font-size: 50px;
    }

    .container {
        background-color: #f8f9fa;
        padding: 20px;
    }

    .box {
        border: 1px solid #000000;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .box-primary {
        background-color: #ffffff;
    }

    .box-secondary {
        background-color: #ffffff;
    }

    .box-success {
        background-color: #ffffff;
    }

    .box-danger {
        background-color: #ffffff;
    }

    .box-warning {
        background-color: #ffffff;
    }

    .box-info {
        background-color: #ffffff;
    }

    .box-light {
        background-color: #ffffff;
    }

    .box-dark {
        background-color: #ffffff;
    }
    

    .section-title {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .section-description {
        margin-bottom: 30px;
    }

    .section-button {
        margin-top: 20px;
    }

    .feature-icon {
        font-size: 40px;
        color: #005eff;
        margin-bottom: 10px;
    }

    .feature-title {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .feature-description {
        margin-bottom: 20px;
    }
</style>

<body>
    <div class="container">
        <h1 class="section-title">About Us</h1>
        <div class="box box-primary">
            <h2>Overview</h2>
            <p>Welcome to Tarsus University Young Informaticians Student Community, an ambitious and forward-thinking team of young professionals equipped with dynamic and 21st-century skills. Our community strives for excellence and aims to reach the summit of the technology, information, and internet industry.</p>
        </div>

        <div class="box box-secondary">
            <h2>Industry</h2>
            <p>We operate in the technology, information, and internet industry, where innovation and cutting-edge solutions drive progress and shape the future.</p>
        </div>

        <div class="box box-secondary">
            <h2>Company Size</h2>
            <p>With a dedicated team of 11-50 employees, we work together to leverage our collective skills and expertise to achieve remarkable results. We believe in collaboration and foster an environment where everyone's ideas and contributions are valued.</p>
        </div>

        <div class="box box-secondary">
            <h2>LinkedIn Presence</h2>
            <p>Our team consists of 18 talented individuals who are passionate about their work. You can find our members on LinkedIn, where they showcase their skills and expertise. Many of them are affiliated with the Young Informaticians Student Community, including both full-time and part-time roles.</p>
        </div>

        <div class="box box-secondary">
            <h2>Headquarters</h2>
            <p>Located in Mersin, Tarsus, our community benefits from a vibrant and growing tech scene. We draw inspiration from our surroundings and actively contribute to the development of the local technology ecosystem.</p>
        </div>

        <div class="box box-secondary">
            <h2>Founded</h2>
            <p>Tarsus University Young Informaticians Student Community was founded in 2022 with a clear vision of empowering young individuals and fostering their growth in the field of informatics. Since our inception, we have been committed to providing valuable opportunities, resources, and support to aspiring informaticians.</p>
        </div>

        <div class="box box-primary">
            <h2>Our Values</h2>
            <ul>
                <li>Collaboration</li>
                <li>Innovation</li>
                <li>Excellence</li>
                <li>Diversity</li>
            </ul>
        </div>

        <div class="box box-secondary">
            <h2>Our Mission</h2>
            <p>Our mission is to empower young individuals and foster their growth in the field of informatics. We believe that by providing valuable opportunities, resources, and support, we can help aspiring informaticians reach their full potential and make a positive impact on the world.</p>
        </div>

        <div class="box box-success">
            <h2>Our Vision</h2>
            <p>Our vision is to be a leading community for young informaticians in Turkey. We want to be a place where people can come together to learn, collaborate, and innovate. We believe that by working together, we can make a positive impact on the world.</p>
        </div>

        <div class="box box-danger">
            <h2>Our Specialties</h2>
            <ul>
                <li>Mobil Uygulama Geliştirme</li>
                <li>Web Tasarım</li>
                <li>Dijital Pazarlama</li>
                <li>Siber Güvenlik</li>
                <li>Oyun Geliştirme</li>
                <li>Blender</li>
                <li>Veri Bilimi</li>
                <li>Donanım</li>
                <li>Gömülü Sistemler</li>
                <li>Web Geliştirme</li>
            </ul>
        </div>

        <div class="box box-dark">
            <h2 class="section-title">Contact Us</h2>
            <p>You can contact us at <a href="mailto:[email protected]">[email protected]</a> or visit our website at <a href="[website]">[website]</a>. We would love to hear from you!</p>
        </div>
    </div>

    <div class="container px-4 py-5">
        <h2 class="section-title" id="headline1">Connect & Engage</h2>

        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="col d-flex flex-column align-items-start gap-2">
                <h2 class="fw-bold text-body-emphasis">Join us and meet the vibrant team</h2>
                <p class="text-body-secondary">Join us on our journey as the Tarsus University Young Informaticians Student Community, a team brimming with dynamic energy and 21st-century skills, strives to reach the summit. Together, let's meet the challenges head-on and pave the way for a future defined by innovation and technological excellence.</p>
                <a href="https://forms.gle/A5hgdLBCk5e37jta7" class="btn btn-primary btn-lg">Join Us</a>
            </div>

            <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <div class="col d-flex flex-column gap-2">
                        <div class="feature-icon-large d-inline-flex align-items-center justify-content-center">
                            <i class="fas fa-mobile-screen-button" style="color: #005eff;"></i>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Application Development</h4>
                        <p class="text-body-secondary">Innovate and Transform: Master the Art of Application Development.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div class="feature-icon-large d-inline-flex align-items-center justify-content-center">
                            <i class="fas fa-broom-ball" style="color: #005eff;"></i>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Web design</h4>
                        <p class="text-body-secondary">Unleash Your Creativity: Explore the Art of Web Design.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div class="feature-icon-large d-inline-flex align-items-center justify-content-center">
                            <i class="fas fa-gamepad" style="color: #005eff;"></i>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Game Development</h4>
                        <p class="text-body-secondary">Level Up Your Skills: Dive into the World of Game Development.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div class="feature-icon-large d-inline-flex align-items-center justify-content-center">
                            <i class="fas fa-user-secret" style="color: #005eff;"></i>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Cyber Security</h4>
                        <p class="text-body-secondary">Join the Frontline: Safeguarding the Digital World with Cybersecurity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function scrollToHeadline() {
            var headline = document.getElementById("headline1"); 
            headline.scrollIntoView({ behavior: "smooth" }); 
        }
    </script>

</body>

{% include 'snippets/footer.html' %}
