{% extends 'base.html' %}

{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="username"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .h3 {
    text-align: center;
  }

  .blog-posts {
    max-width: 500px;
    width: 100%;
    margin: auto;
  }

  /* Added CSS for circular image */
  .profile-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }


  .profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

  }

  .logout-button {
    background-color: red; /* Change to the desired color */
    /* Add any other styles you want for the button */
  }
</style>

<form class="form-signin" method="post" enctype="multipart/form-data">


  <div style="padding-top: 100px;" class="profile-image">
    <img src="{{ account_form.initial.profile_photo.url }}" alt="Profile Photo">
  </div>

  <h1 class="h3 mb-3 font-weight-normal">{{ account_form.initial.username }}</h1>

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus value="{{ account_form.initial.email }}">
  
  <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required value="{{ account_form.initial.username }}">
  
  
  <label for="profile-photo-input">Profile Picture</label>
  <input type="file" name="profile_photo" class="form-control"  id="profile-photo-input" >
  
  {% if user.is_staff %}

  <input type="text" name="position" id="inputposition" class="form-control" placeholder="your position in genç bilişimciler" required value="{{ account_form.initial.position }}">
  <input type="url" name="social_media_link" id="inputSocialMediaLink" class="form-control" placeholder="profile link" value="{{ account_form.initial.social_media_link }}">
  {% endif %}
  {% for field in account_form %}
    <p>
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}

  {% if account_form.non_field_errors %}
    <div style="color: red">
      <p>{{ account_form.non_field_errors }}</p>
    </div>
  {% endif %}

  {% if success_message %}
    <p style="color: green; text-align: center;">{{ success_message }}</p>
  {% endif %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
  <a href="{% url 'logout' %}" type="button" style="padding-left: 50px; text-decoration: none;">
    <button class="btn btn-danger rounded-pill px-3" type="button">Logout</button>
  </a>
</form>

<div class="d-flex flex-column">
  <a style="text-decoration: none;" class="m-auto" href="{% url 'password_change' %}">Change password</a>
</div>

{% endblock content %}
