{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Custom cards</h2>
  {% if events %}
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    {% for event in events %}
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
        <img src="{{ event.image.url }}" alt="Card Image" class="card-img-top">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ event.title }}</h5>
          <ul class="list-unstyled mt-auto">
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small>{{ event.location }}</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>{{ event.time }}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>There are no events</p>
  {% endif %}
</div>

{% endblock content %}
